<div class="header">
  <div class="header__left">Manage App</div>
  <div class="header__right">
    <div class="header__right__text">機能</div>
    <% if user_signed_in? %>
      <div class="header__right__text">
      </div>
      <div class="header__right__text">
      </div>
    <% else %>
      <div class="header__right__text">
        <%= link_to '新規登録', new_user_registration_path, method: :get %>
      </div>
      <div class="header__right__text">
        <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      </div>
    <% end %>
  </div>
</div>

  <div class="main">
    <div class="main__visual">
      <div class="main__visual__content">
        <p class="main__visual__content__top">業者管理をシンプルにまとめよう！</p>
        <h1 class="main__visual__content__title">Manage App</h1>
        <h2 class="main__visual__content__text">もうなくさない、忘れない。</h2>
        <div class="main__visual__content__btn">
          <button type="submit" class="main__visual__content__btn1">新規登録</button>
          <button type="submit" class="main__visual__content__btn2">ログイン</button>
        </div>
      </div>
    </div>

    <div class="main__user">
      <div class="main__user__message">
        <h3>飲食業、建設業、サービス業などの経営者の方へ</h3>
        <h1>このようなお悩みはありませんか?</h1>
      </div>
      <div class="main__user__box">
        <ul class="main__user__box__list">
          <li><input type="checkbox" />仕入先、各種営業担当、社労士などの担当者がわからなくなる...</li>
          <li><input type="checkbox" />顧客と分けて業者とのスケジュール管理を一括でしたい。</li>
          <li><input type="checkbox" />同業仲間に業者の紹介をスムーズにしたいけど面倒。</li>
        </ul>
      </div>
      <div class="main__user__text">
        <p>Manage Appを活用すると、業者管理にもう困りません！</p>
      </div>
    </div>

    <div class="main__way">
      <div class="main__way__head">
        <h1>Manage Appの特徴</h1>
      </div>
      <ul class="main__way__box">
        <li>sample1</li>
        <li>sample2</li>
        <li>sanmple3</li>
      </ul>
    </div>
  </div>

  <div class="footer">
  プライバシーポリシー
  </div>
</div>


.container-fluid{

}

.header{
  display: flex;
  padding-top: 10px;
  padding-bottom: 1opx;
  margin-bottom: 10px;
  font-size: 18px;
  list-style: none;
  height: 45px;
  align-items: center;
}

.header__left{
  position: relative;
  display: flex;
  padding-left: 15px;
}

.header__left a{
  text-decoration: none;
  color:black;
}

.header__right{
  display: flex;
  margin-left: auto;
}

.header__right__text{
  padding-left: 40px;
  padding-right: 10px;
  text-decoration: none;
}

.header__right__text a{
  text-decoration: none;
  color: black;
}