<div class="form__wrapper">
  <div class="success">
    <h3>
      更新が完了しました。
    </h3>
  </div>


  <div class="footer">
    <%= link_to 'マイページへ戻る', "/users/#{current_user.id}", method: :get %>
  </div>
</div>