* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 481px){

  .form__wrapper {
    margin-top: 30px;
    h1{
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    }
  }

  .align-right{
    text-align: right;
  }

  hr{
    border-width: 3px;
  }

  .row p{
    padding-bottom: 20px;
    font-size: 15px;
  }

  select{
    width: 100%;
    height: 35px;
  }

  .form-list{
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .form-text{
    height: 35px;
    width: 100%;
  }

}

@media screen and (max-width: 480px){

  .container{
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
  }

  .form__wrapper {
    margin-top: 30px;
    h1{
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    }
  }
  
  .align-right{
    text-align: right;
  }
  
  hr{
    border-width: 3px;
  }
  
  .row p{
    padding-bottom: 20px;
    font-size: 15px;
  }
  
  select{
    width: 100%;
    height: 35px;
  }
  
  .form-list{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .form-text{
    height: 35px;
    width: 100%;
  }
  
}