.form__wrapper {
  margin-top: 30px;
}

.form__wrapper h1{
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

hr{
  border-width: 3px;
}

.align-right{
  text-align: right;
}

.row p{
  padding-bottom: 20px;
  font-size: 15px;
}

.form-list{
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-text{
  height: 35px;
  width: 100%;
}

select{
  width: 100%;
  height: 35px;
}



